/* NAVBAR */

header {
  width: 100%;
  display: flex;
  grid-column: span 8;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
  width: 100%;
  margin: 1em 2em;
}

nav ul {
	list-style: none;
	display: flex;
  width: 100%;
  justify-content: space-between;
}

/* HEADER */

.header {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
  margin: 0em 2em;
}

.header-container {
	grid-column: 1 / 10;
	display: grid;
	place-items: center;
  border-top: 1px solid #9D9D9D;
  border-bottom: 1px solid #9D9D9D;
}

/* MAIN SECTION */

.main {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	height: calc(100vh - 150px - 50px);
  margin: 1em 2em;
}

.main > div {
	height: 100%;
	overflow-y: scroll;
}

.about-section {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  padding-right: 1em;
}

.about-wrapper {
  height: 100%;
}

.about-header {
  overflow-y: auto;      /* Enable vertical scrolling */
}

.projects-section {
  grid-column: 3/5;
  padding: 0em 1em;
}

.preview-section {
  grid-column: 5/10;
  margin-left: 1em;
}

.projects-header {
  position: sticky;
  top: 0;
}

.preview-header {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.about-section::-webkit-scrollbar,
.about-header::-webkit-scrollbar {
  width: 0.1em;
}

.about-section::-webkit-scrollbar-track,
.about-header::-webkit-scrollbar-track {
  background-color: #888;
}

.about-section::-webkit-scrollbar-thumb,
.about-header::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
}

  .projects-section::-webkit-scrollbar {
    width: 0.1em;
  }

  .projects-section::-webkit-scrollbar-track {
    background-color: #888;
  }

  .projects-section::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .preview-section::-webkit-scrollbar {
    width: 0em;
  }

  .preview-section::-webkit-scrollbar-track {
    background-color: transparent;

  }

  .preview-section::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
