@import url("https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap");

@import url("components/images.css");
@import url("components/grid.css");
@import url("components/btn.css");
@import url("components/mobile.css");

.desktop {
  display: contents;
}

.mob {
  display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Jura', sans-serif;
}

body {
  /* background: linear-gradient(108.15deg, rgba(52, 20, 76, 0) -7.99%, #33164C -7.98%, #0F0E2D 11%, #000000 54.31%); */
  background: #0D0E11;
	height: 100vh;
	display: grid;
	/* grid-template-rows: 1fr auto; */
  /* padding: 0em 2em; */
  overflow-y: hidden;
  overflow-x: hidden;
}

#static-noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.06; /* Adjust for stronger/weaker effect */
  user-select: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15; /* Increase opacity for stronger effect */
  z-index: 9999;
  pointer-events: none;
  user-select: none;
}


h1 {
  font-family: 'Jura', sans-serif;
  font-size: 11.7vw;
  text-align: center;
  color: #FFFBF8;
  text-shadow: 0 0 12px #FFFBF8;
  letter-spacing: 0.62vw;
}

h2 {
  font-family: 'Jura', sans-serif;
  font-size: 1vw;
  color: #d9d9d9;
  text-shadow: 0 0 12px #d9d9d937;
  margin: 1em 0em;
}

h3 {
  font-size: 1vw;
  color: #d9d9d9;
  text-shadow: 0 0 12px #d9d9d937;
  margin-bottom: 1em;
}

p {
  font-family: 'Jura', sans-serif;
  font-weight: lighter;
  color: #FFFBF8;
  font-size: 1vw;
}

P2 {
  color: #FFFBF8;
  font-size: 2vw;
  margin: 2vh 0;
}

a {
  font-weight: lighter;
  color: #FFFBF8;
  font-size: 0.8vw;
  text-decoration: none;
}

#site-link {
  font-family: 'Jura', sans-serif;
  font-size: 1vw;
  color: #d9d9d9;
  text-shadow: 0 0 12px #d9d9d937;
  text-decoration: none;
}

.pink-link {
  font-family: 'Jura', sans-serif;
  font-size: 1vw;
  color: #fd36d4;
  text-shadow: 0 0 12px #fd36d4;
  text-decoration: none;
}

#site-btn {
  font-size: 1vw;
  color: #fd36d4;
  text-shadow: 0 0 12px #fd36d4;
  text-decoration: none;
}

a:hover {
  color: #fd36d4;
  text-shadow: 0 0 12px #fd36d4;
  transition: 0.1s ease-in-out;
}

#site-link:hover {
  color: #fd36d4;
  text-shadow: 0 0 12px #fd36d4;
  transition: 0.1s ease-in-out;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  grid-column: span 8;
}

.line-top {
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #9D9D9D;
  margin: auto auto;
}

.line-bot {
  display: block;
  position: relative;
  width: 100%;
  border-top: 1px solid #9D9D9D;
  margin: auto auto;
}

footer {
  /* background-image: url('https://res.cloudinary.com/depkh8amy/image/upload/v1680710446/BirdBox%20Code/blur_bsqzkt.png'); */
  background: #0D0E11;
  padding-top: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot-wrap {
  border-top: 1px solid #9D9D9D;
  margin: 0em 2em;
}

.flex-links {
  display: flex;
  margin: 1vw 0vw;
  border-left: 1px solid #9D9D9D;
  border-right: 1px solid #9D9D9D;
  border-radius: 10px;
  width: 35vw;
}

.flex-links p {
  margin-right: 3em;
  margin: 0.3em auto;
}

.link-wrapper {
  border-right: 1px solid #9D9D9D;
  width: 100%;
  height: 90%;
  text-align: center;
}

.logo {
margin: 1vh 2vw;
}

/* MEDIA QUERIES */

@media only screen and (max-width : 1030px) {



  h1 {
    font-size: 11vw;
  }


  }

/* Medium Devices, Desktops */
/* @media only screen and (max-width : 992px) {

}

*/

@media only screen and (max-width : 768px) {

  .desktop {
    display: none;
  }

  .mob {
    display: contents;
  }

  body {
    height: 100%;
    overflow-y: visible;
  }

  p {
    text-align: center;
    font-size: 1em;
  }

  a {
    font-size: 2.8vw;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    text-align: center;
    font-size: 5vw;
  }

  h3 {
    font-size: 5vw;
    text-align: center;
  }

  nav {
    margin: 1em 1em;
  }

  .header {
    margin: 0em 1em;
  }

  .mob-main {
    margin: 0em 1em;
  }

  .mob-about-section {
    margin: 2em 2em;
    text-align: center;
  }

  .foot-wrap {
    margin: 0em 1em;
  }

  .mob-preview-header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 0.5em auto;
  }

  .btn-contact {
    width: 20vw;
    height: 4vh;
    }

    .bbc {
      height: 7vw;
    }

    .pink-link {
      font-size: 3vw;
    }

  .mob-view-btn {
      width: 20vw;
      height: 2.5vh;
      border: 0 0 12px #fd36d4;
      border-radius: 10px;
      font-family: 'Jura', sans-serif;
      font-size: 1.5vw;
      background-color: transparent;
    }

  .mob-view-btn:hover, .mob-view-btn:hover a {
    border-color: #09FFD8;
    color: #09FFD8;
    text-shadow: 0 0 12px #09FFD8;
    transition: 0.2s ease-in-out !important;
  }

  #site-btn {
    font-size: 3vw;
    color: #fd36d4;
    text-shadow: 0 0 12px #fd36d4;
    text-decoration: none;
  }

  #mob-beh-section,  #mob-gg-section, #mob-na-section, #mob-moss-section, #mob-pitch-section {
    overflow: hidden;
    height: 20vh;
    /* overflow-y: scroll; */
    transition: all 0.8s ease;
  }

  #mob-beh-btn.active,  #mob-gg-btn.active, #mob-na-btn.active, #mob-moss-btn.active, #mob-pitch-btn.active {
    color: #fd36d4;
    text-shadow: 0 0 12px #fd36d4;
  }

  .img-wrapper {
    width: 100%;
    border-radius: 10px;
    margin: 0em 0;
  }

  #mob-beh-btn, #mob-gg-btn, #mob-na-btn, #mob-moss-btn, #mob-pitch-btn {
    width: 8vw;
    height: 5vh;
    font-size: 5vw;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border: none;
    color: #FFFBF8;
    background-color: transparent;
  }

  .line-bot {
    display: block;
    position: relative;
    border-top: 1px solid #9D9D9D;
    margin: auto 2em;
  }

  .foot-wrap {
    display: flex;
    justify-content: center;
}

.flex-links {
  display: flex;
  margin: 1em 2em;
  width: 100%;
}

}


@media only screen and (max-width : 480px) {

  .desktop {
    display: none;
  }

  .mob {
    display: contents;
  }

  body {
    height: 100%;
    overflow-y: visible;
  }

  canvas {
    position: absolute;
    opacity: 0.07;
    z-index: 9999;
    pointer-events: none;
    user-select: none;
  }

  p {
    text-align: center;
    font-size: 1em;
  }

  a {
    font-size: 2.8vw;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    text-align: center;
    font-size: 5vw;
  }

  h3 {
    font-size: 5vw;
    text-align: center;
  }

  nav {
    margin: 1em 1em;
  }

  .header {
    margin: 0em 1em;
  }

  .mob-main {
    margin: 0em 1em;
  }

  .mob-about-section {
    margin: 2em 2em;
    text-align: center;
  }

  .foot-wrap {
    margin: 0em 1em;
  }

  .mob-preview-header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 0.5em auto;
  }

  .btn-contact {
    width: 20vw;
    height: 4vh;
    }

    .bbc {
      height: 7vw;
    }

    .pink-link {
      font-size: 3vw;
    }

  .mob-view-btn {
      width: 20vw;
      height: 2.5vh;
      border: 0 0 12px #fd36d4;
      border-radius: 10px;
      font-family: 'Jura', sans-serif;
      font-size: 1.5vw;
      background-color: transparent;
    }

  .mob-view-btn:hover, .mob-view-btn:hover a {
    border-color: #09FFD8;
    color: #09FFD8;
    text-shadow: 0 0 12px #09FFD8;
    transition: 0.2s ease-in-out !important;
  }

  #site-btn {
    font-size: 3vw;
    color: #fd36d4;
    text-shadow: 0 0 12px #fd36d4;
    text-decoration: none;
  }

  #mob-beh-section, #mob-na-section, #mob-moss-section, #mob-pitch-section {
    overflow: hidden;
    height: 20vh;
    /* overflow-y: scroll; */
    transition: all 0.8s ease;
  }

  #mob-beh-btn.active, #mob-na-btn.active, #mob-moss-btn.active, #mob-pitch-btn.active {
    color: #fd36d4;
    text-shadow: 0 0 12px #fd36d4;
  }

  .img-wrapper {
    width: 100%;
    border-radius: 10px;
    margin: 0em 0;
  }

  #mob-beh-btn, #mob-na-btn, #mob-moss-btn, #mob-pitch-btn {
    width: 8vw;
    height: 5vh;
    font-size: 5vw;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border: none;
    color: #FFFBF8;
    background-color: transparent;
  }

  .line-bot {
    display: block;
    position: relative;
    border-top: 1px solid #9D9D9D;
    margin: auto 2em;
  }

  .foot-wrap {
    display: flex;
    justify-content: center;
}

.flex-links {
  display: flex;
  margin: 1em 2em;
  width: 100%;
}

@media only screen and (max-width : 320px) {
  .desktop {
    display: none;
  }

  .mob {
    display: contents;
  }

  body {
    height: 100%;
    overflow-y: visible;
  }

  p {
    text-align: center;
    font-size: 1em;
  }

  a {
    font-size: 2.8vw;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    text-align: center;
    font-size: 5vw;
  }

  nav {
    margin: 1em 1em;
  }

  .header {
    margin: 0em 1em;
  }

  .mob-main {
    margin: 0em 1em;
  }

  .mob-about-section {
    margin: 2em 2em;
  }

  .foot-wrap {
    margin: 0em 1em;
  }

  .mob-preview-header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 0.5em auto;
  }

  .btn-contact {
    width: 20vw;
    height: 4vh;
    }

    .bbc {
      height: 7vw;
    }

    .pink-link {
      font-size: 3vw;
    }

  .mob-view-btn {
      width: 20vw;
      height: 2.5vh;
      border: 0 0 12px #fd36d4;
      border-radius: 10px;
      font-family: 'Jura', sans-serif;
      font-size: 1.5vw;
      background-color: transparent;
    }

  .mob-view-btn:hover, .mob-view-btn:hover a {
    border-color: #09FFD8;
    color: #09FFD8;
    text-shadow: 0 0 12px #09FFD8;
    transition: 0.2s ease-in-out !important;
  }

  #site-btn {
    font-size: 3vw;
    color: #fd36d4;
    text-shadow: 0 0 12px #fd36d4;
    text-decoration: none;
  }

  #mob-beh-section, #mob-na-section, #mob-moss-section, #mob-pitch-section {
    overflow: hidden;
    height: 20vh;
    /* overflow-y: scroll; */
    transition: all 0.8s ease;
  }

  #mob-beh-btn.active, #mob-na-btn.active, #mob-moss-btn.active, #mob-pitch-btn.active {
    color: #fd36d4;
    text-shadow: 0 0 12px #fd36d4;
  }

  .img-wrapper {
    width: 100%;
    border-radius: 10px;
    margin: 0em 0;
  }

  #mob-beh-btn, #mob-na-btn, #mob-moss-btn, #mob-pitch-btn {
    width: 8vw;
    height: 5vh;
    font-size: 5vw;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border: none;
    color: #FFFBF8;
    background-color: transparent;
  }

  .line-bot {
    display: block;
    position: relative;
    border-top: 1px solid #9D9D9D;
    margin: auto 2em;
  }

  .foot-wrap {
    display: flex;
    justify-content: center;
}

.flex-links {
  display: flex;
  margin: 1em 2em;
  width: 100%;
}

}}
